.section {
  width: 100%;
  padding: var(--rs-unit-x8) var(--rs-unit-x4);
}

.content {
  background-color: rgb(231, 238, 255);
  border: 1px solid rgb(5, 43, 130);
  border-radius: 24px;
  padding: var(--rs-unit-x10);
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x6);
  max-width: 1232px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x3);
}

.title {
  color: rgb(20, 22, 27);
}

.subtitle {
  color: rgb(82, 85, 91);
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--rs-unit-x6);

  @media (--rs-viewport-m) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--rs-viewport-l) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: var(--rs-color-white);
  border: 1px solid rgba(0, 0, 0, 0.078);
  border-radius: 12px;
  padding: var(--rs-unit-x4);
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x2);
}

.cardHeader {
  display: flex;
  align-items: flex-start;
  gap: var(--rs-unit-x2);
}

.icon {
  color: rgb(5, 43, 130);
  flex-shrink: 0;
  margin-top: 4px;
}

.cardTitle {
  color: rgb(5, 43, 130);
}

.cardDescription {
  color: rgb(82, 85, 91);
}

