.about {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x5);
}

.description {
  p {
    font-size: 16px;
    line-height: 24px;
    color: var(--rs-color-foreground-neutral);
    margin: 0;
    white-space: pre-wrap;
  }
}
