.related {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x4);
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: var(--rs-color-text-primary);
  margin: 0;
}



