.about {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x5);
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: var(--rs-color-text-primary);
  margin: 0;
}

.description {
  p {
    font-size: 16px;
    line-height: 24px;
    color: var(--rs-color-foreground-neutral);
    margin: 0;
    white-space: pre-wrap;
  }
}



