.content {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x6);
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--rs-unit-x6);

  @media (min-width: 1024px) {
    grid-template-columns: 806px 394px;
    gap: var(--rs-unit-x6);
  }
}

.mainSection {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x6);
}
