.modal {
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: 90vh;
  min-height: 600px;
  width: 100%;
}

.header {
  display: grid;
  position: relative;
  padding: var(--rs-unit-x4);
  border-bottom: 1px solid
    rgb(from var(--rs-color-foreground-neutral) r g b / 0.3);
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--rs-color-text-primary);
  margin: 0;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.content {
  padding: var(--rs-unit-x6);
  overflow-y: auto;
}
