.wrapper {
  width: 100%;
  position: relative;
  padding: calc(var(--rs-unit-x10) * 2) var(--rs-unit-x4);
  padding-bottom: calc(var(--rs-unit-x10) * 7);

  @media (--rs-viewport-m) {
    padding-bottom: calc(var(--rs-unit-x10) * 3);
  }
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  position: relative;
}

.heroSection {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.heroCard {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: var(--rs-radius-large);
  overflow: hidden;

  @media (--rs-viewport-m) {
    height: 400px;
  }

  @media (--rs-viewport-l) {
    height: 520px;
  }
}

.searchFormContainer {
  position: absolute;
  bottom: -96px;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  border-radius: calc(var(--rs-radius-medium) + 4px);
  padding: var(--rs-unit-x4);
  width: 100%;
  max-width: 1080px;
  z-index: 10;

  @media (--rs-viewport-m) {
    bottom: 0;
    border-radius: calc(var(--rs-radius-large) + 4px);
    padding: var(--rs-unit-x5);
  }

  @media (--rs-viewport-l) {
    padding: var(--rs-unit-x6);
  }
}
