.activeFiltersSection {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x3) !important;

  @media (--rs-viewport-l) {
    display: none;
  }
}

.activeFiltersHeader {
  display: flex;
  align-items: center;
  gap: var(--rs-unit-x2) !important;
}

.activeFiltersSidebar {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x4) !important;
}
