.filtersContent {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x6);

  [role='tablist'] {
    > div:last-child {
      background-color: var(--rs-color-background-primary);
    }

    [aria-selected='true'] {
      background-color: var(--rs-color-background-primary);
      color: var(--rs-color-background-page);
    }
  }
}

.courseLevelTabs {
  margin-top: var(--rs-unit-x4);
}

.priceRangeLabels {
  width: 100%;
}
