.coursesGrid {
  width: 100%;

  @media screen and (max-width: 1100px) {
    background-color: green;
  }
}

.bannerContainer {
  max-height: 200px;
  border-radius: var(--rs-radius-large);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rs-color-white);
  font-weight: var(--rs-font-weight-bold);
  overflow: hidden;

  @media (--rs-viewport-m) {
    grid-column: span 2;
  }

  @media (--rs-viewport-l) {
    grid-column: span 2;
  }

  @media (--rs-viewport-xl) {
    grid-column: span 3;
  }
}
