.coursesGrid {
  width: 100%;

  @media (--rs-viewport-m) {
    gap: var(--rs-unit-x5);
  }

  @media (--rs-viewport-l) {
    gap: var(--rs-unit-x6);
  }
}

.courseCard {
  min-height: 420px;
  background: #ec4899;
  border-radius: var(--rs-radius-large);
  padding: var(--rs-unit-x4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rs-color-white);
  font-weight: var(--rs-font-weight-bold);
}

.bannerContainer {
  min-height: 200px;
  background: #10b981;
  border-radius: var(--rs-radius-large);
  padding: var(--rs-unit-x4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rs-color-white);
  font-weight: var(--rs-font-weight-bold);

  @media (--rs-viewport-m) {
    grid-column: span 2;
    min-height: 250px;
  }

  @media (--rs-viewport-l) {
    grid-column: span 2;
    min-height: 300px;
  }

  @media (--rs-viewport-xl) {
    grid-column: span 3;
  }
}
