.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x4);
}

.bannerContainer {
  height: 200px;
  border-radius: var(--rs-radius-large);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rs-color-white);
  font-weight: var(--rs-font-weight-bold);
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (--rs-viewport-m) {
    max-height: 200px;
    grid-column: span 2;
  }

  @media (--rs-viewport-l) {
    grid-column: span 2;
  }

  @media (--rs-viewport-xl) {
    grid-column: span 3;
  }
}
