.page {
  padding: var(--rs-unit-x6) 0;
  min-height: 100vh;
}

.topSection {
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 560px;
    background-color: rgb(
      from var(--rs-color-border-primary-faded) r g b / 0.3
    );
    z-index: -1;
  }
  padding: var(--rs-unit-x6) 0;
  margin: calc(var(--rs-unit-x6) * -1) 0 var(--rs-unit-x6) 0;
}

.error {
  padding: var(--rs-unit-x8);
  text-align: center;

  h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: var(--rs-unit-x2);
    color: var(--rs-color-text-primary);
  }

  p {
    font-size: 16px;
    color: var(--rs-color-foreground-neutral);
  }
}
