.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
  pointer-events: none;
  display: none;

  @media (min-width: 769px) {
    display: block;
    pointer-events: auto;
  }
}

.imageMobile {
  display: block;
  pointer-events: auto;

  @media (min-width: 769px) {
    display: none;
  }
}
